{% extends "layout.njk"%}

{% block content %}

    <section class="apresentacao">
        <div id="into">
            <h1>As melhores receitas</h1>
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
        </div>
        <div class="fundo">
            <img src="img/119236-OQ05QX-268.png" alt="cozinheiro">
        </div>
    </section>

    <section class="cardapio">
        <header>
            <h2>Mais acessadas</h2>
        </header>

        <div class="cards">
            <div class="card">

                <div class="card_img">
                    <img src="img/cardapio/burger.png" alt="burger">
                </div>
                <div class="card_titulo">
                    <h2>Triplo bacon burger</h2>
                </div>
                <div class="card_subtit">
                    <p>por Jorge Relato</p>
                </div>
            </div>

            <div class="card">
                <div class="card_img">
                    <img src="img/cardapio/pizza.png" alt="pizza">
                </div>
                <div class="card_titulo">
                    <h2>Pizza 4 estações</h2>
                </div>
                <div class="card_subtit">
                    <p>por Fabiana Melo</p>
                </div>
            </div>

            <div class="card">
                <div class="card_img">
                    <img src="img/cardapio/espaguete.png" alt="espaguete">
                </div>
                <div class="card_titulo">
                    <h2>Espaguete ao alho</h2>
                </div>
                <div class="card_subtit">
                    <p>por Júlia Kinoto</p>
                </div>
            </div>

            <div class="card">
                <div class="card_img">
                    <img src="img/cardapio/lasanha.png" alt="lasanha">
                </div>
                <div class="card_titulo">
                    <h2>Lasanha mac n’ cheese</h2>
                </div>
                <div class="card_subtit">
                    <p>por Juliano Vieira</p>
                </div>
            </div>
            <div class="card">
                <div class="card_img">
                    <img src="img/cardapio/doce.png" alt="doce">
                </div>
                <div class="card_titulo">
                    <h2>Docinhos pão-do-céu</h2>
                </div>
                <div class="card_subtit">
                    <p>por Ricardo Golvea</p>
                </div>
            </div>
            <div class="card">
                <div class="card_img">
                    <img src="img/cardapio/asinhas.png" alt="asa">
                </div>
                <div class="card_titulo">
                    <h2>Asinhas de frango ao barbecue</h2>
                </div>
                <div class="card_subtit">
                    <p>por Vania Steroski</p>
                </div>
            </div>

        </div>

    </section>

</div>
{% endblock %}