{% extends "layout.njk"%}

{% block head%}

    <title>{{item.title}}</title>

{% endblock %}

{% block content %}

    <header class="cardapio">
        <section class="receitas">

            <div class="cards">

                <div class="card" id="{{item.id}}">

                    <div class="card_img">

                        <iframe src="img/cardapio/{{item.id}}" frameborder="0"></iframe>

                    </div>
                    <div class="card_titulo">
                        <h2>{{item.title}}</h2>
                    </div>
                    <div class="card_subtit">
                        <p>{{item.subtitle}}</p>
                    </div>

                </div>

            </div>

        </section>

    </header>
{% endblock %}